<div id="about" class="center padded">
    <div class="content">
        <div class="about-section row vert-pad">
            <div class="left padded">
                <img src="assets/img/Geovani.jpeg" alt="Foto" width="300px" class="profile-pic">
            </div>
            <div class="right padded">
                <h1>Sobre mí</h1>
                <p>Hola, soy Geovani Gómez, un desarrollador junior apasionado por la tecnología y el aprendizaje continuo. A lo largo de mi formación y experiencia, he adquirido conocimientos en varios lenguajes de programación, incluyendo JavaScript, Java, HTML, y CSS. Sin embargo, mi especialidad y mi mayor fortaleza reside en Python.</p>
                <p>Estoy siempre en busca de nuevos desafíos que me permitan seguir creciendo y desarrollando mis habilidades en el mundo de la programación. Me encanta trabajar en proyectos que impacten positivamente a las personas y disfruto aprendiendo nuevas tecnologías y técnicas para mejorar mis proyectos.</p>
                <p>En mi tiempo libre, me gusta leer sobre nuevas tendencias en tecnología, experimentar con nuevos lenguajes de programación y colaborar en proyectos de código abierto. ¡Estoy emocionado por las oportunidades que el futuro me depara!</p>
            </div>
        </div>
    </div>
</div>