<header>
  <div class="logo">GEOVANI GÓMEZ</div>
  <nav>
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/about">About</a></li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
<footer class="footer">
  <div class="center">
    <h3>Contáctame :)</h3>
  </div>
  <div class="center full-width">
    <div class="row">
      <p>O también puedes seguirme en mis redes sociales</p>
    </div>
  </div>
  <div class="center full-width social-links">
    <div class="row">
      <a target="_blank" href="https://github.com/geoo0"><img class="social" width="30" src="assets/img/github.jpeg"></a>
      <a target="_blank" href="https://www.linkedin.com/in/geoo0/"><img class="social" width="30" src="assets/img/in.jpeg"></a>
      <a target="_blank" href="https://discord.com/invite/9RNNGAe2"><img class="social" width="30" src="assets/img/discord.jpeg"></a>
    </div>
  </div>
  <div class="made-with">
    <div class="row">
      <p>Hecho con ♡ por Geovani Gómez</p>
    </div>
  </div>
</footer>