<div class="hero">
    <div class="hero-content">
        <div class="left">
            <h1>Soy desarrollador Jr</h1>
            <h1>Geovani Gómez</h1>
            <p>Soy un desarrollador junior apasionado por la tecnología y el aprendizaje continuo. A lo largo de mi
                formación y experiencia, he adquirido conocimientos en varios lenguajes de programación, incluyendo
                JavaScript, Java, HTML, y CSS. Sin embargo, mi especialidad y mi mayor fortaleza reside en Python.
                Estoy siempre en busca de nuevos desafíos que me permitan seguir creciendo y desarrollando mis
                habilidades en el mundo de la programación. </p>
                <a href="https://drive.google.com/file/d/12LlZWul7M-Ez0uiHLzPoABRbRmKipByU/view?usp=sharing" class="btn">Descargar CV</a>
                <a href="home#contacto" class="btn">Contáctame</a>
        </div>
        <div>
            <img src="assets/img/big-data.webp" alt="Logo" width="600px">
        </div>
    </div>
</div>
<div class="center">
    <div class="content">
        <div class="row vert-pad">
            <div class="left padded">
                <h1>Desarrlllo con pasión aplicaicon y sitios 
                    web para personas.
                </h1>
                <p>Constantemente me encuentro aprendiendo nuevas tecnologías 
                    y desarrollando aplicaciones por placer. Esta web la construí desde 
                    cero con Angula y quiero conocer más de este mundo.
                </p>
            </div>
            <div class="right padded">
                <h1>Podemos conversar lo que quieras!
                </h1>
                <p>Sólo envíame un correo <a href="home#contacto" class="orange">pinchando aquí</a>
                </p>
            </div>
        </div>    
    </div>
</div>
<div class="center padded">
    <div class="content padded">
        <div class="padded">
            No estas convencido? mira lo que he contruído
        </div>
        <div class="row">
            <div class="card third">
                <h3>Gestión de Cocumentación ISO</h3>
                <p>Desarrollé una aplicación web utilizando
                    Python y Flask, diseñada para una empresa
                    con el propósito de gestionar y mostrar 
                    documentación ISO. La aplicación permite a los
                    usuarios acceder a documentos PDF de manera segura,
                    impidiendo la descarga o impresión de los mismos.
                    Que actualmente ese servicio lo utiliza toda la 
                    empresa de Laboratorios Bonin S.A</p>
                    <a target="_blank" href="https://github.com/geoo0/ISO.git" class="orange">Link aquí</a>
            </div>
            <div class="card third">
                <h3>Lista de Tareas</h3>
                <p>Desarrollé un programa utilizando el lenguaje Python y el 
                    framework Flask en el cual la herramienta consta de 
                    poder hacer un listado de tareas donde puede uno marcar
                    como realizado o pasarlo a otro usuario.
                </p>
                    <a target="_blank" href="" class="orange">Link aquí</a>
            </div>
            <div class="card third">
                <h3>Mi primer Juego en Reack</h3>
                <p>Desarrollé un pequeño juego de ahorcado ponde
                    empece aprende la logica de programación donde
                    el cual fueroon mis primeros pasos
                </p>
                    <a target="_blank" href="https://my-game-by-geo.netlify.app" class="orange">Link aquí</a>
            </div>
        </div>
    </div>
</div>
<div id="contacto" class="center padded">
    <div class="content">
        <div class="row vert-pad">
            <div class="left padded">
                <h1>Ahora o nunca! trabajemos juntos :)</h1>
                <p>Daré mi mejor esfuerzo! para aprender, aportar valor y que tengamos una fructífera relación a largo plazo</p>
            </div>
            <div id="contacto" class="right padded">
                <form class="contact-form" method="post" action="">
                    <input name="name" placeholder="Nombre" required>
                    <input name="email" placeholder="Correo" required type="email">
                    <textarea placeholder="Mensaje" name="message" required minlength="h=10"></textarea>
                    <button class="btnn">Envia</button>
                </form>
            </div>
        </div>
    </div>
</div>
